.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;
  background: #f8fafc;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  .body {
    background: #1e293b;
    color: #f9fafb;
  }
  div.container {
    color: #f9fafb;
    border: 1px solid #9ca3af;
  }
  .social-medias-wrapper a.icon-link{
    color: #f9fafb;
    border: 1px solid #9ca3af;
  }

  .main-links-wrapper a.link-item {
    color: #f9fafb;
    border: 1px solid #9ca3af;
  }
  
  h4, i {
    color: #e5e7eb;
  }

  img.profile-img {
  border: 1px solid #9ca3af;}

  .social-medias-wrapper a svg.icon{
    color: #e5e7eb;
  }
}

body::before {
  --line: rgba(132, 154, 197, 0.15);
	--size: 100px;
	content: "";
	height: 50%;
	width: 100%;
	position: fixed;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
	mask: linear-gradient(-15deg, transparent 30%, white);
	top: 0;
	transform-style: flat;
	pointer-events: none;
	z-index: -1;
}

body::after {
  --line: rgba(107, 114, 128,0.15);
	--size: 100px;
	content: "";
	height: 50%;
	width: 100%;
	position: fixed;
  bottom: 0;
  right: 0;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
	mask: linear-gradient(155deg, transparent 30%, white);
	transform-style: flat;
	pointer-events: none;
	z-index: -1;
}


.container {
  width: 288px;
  background-color: rgba(56, 82, 116, 0.2);
  backdrop-filter: blur(24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #111827;
  border-collapse: collapse;
}

.img-wrapper {
  padding: 24px 0 0 0;
}

.profile-img {
  width: 128px;
  height: 128px;
  border: 1px solid #111827;
  object-fit: cover;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 16px;
}

.username {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 0;
}

.position {
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 0;
  opacity: 0.8;
}

.social-medias-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-collapse: collapse;
}

.social-medias-wrapper a{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 8px 0;
  border: 1px solid #111827;
  border-collapse: collapse;
}

.social-medias-wrapper a:first-child, .social-medias-wrapper a:last-child{
  border-left: 0;
  border-right: 0;
}

.social-medias-wrapper a:nth-child(3){
  border-left: 0;
}

.social-medias-wrapper a:hover{
  svg{
    transform: scale(0.9);
    opacity: 1;
  }
}

.social-medias-wrapper a svg {
  width: 32px;
  height: 32px;
  color: #1e293b;
  opacity: 0.7;
  transform: scale(0.8);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.main-links-wrapper {
  display: flex;
  flex-direction: column;
  /* padding-top: 32px; */
  width: 100%;
  border: 0;
}

.link-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #111827;
  text-decoration: none;
  color: #111827;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.link-item:last-child{
  border-bottom: 0;
}

.link-item:hover {
  h4 {
    opacity: 1;
  }
  i {
    transform: scale(1);
    opacity: 1;
  }
}

i {
  transform: scale(0.8);
  opacity: 0.3;
  transform-origin: left;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

h4 {
  opacity: 0.7;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms; 
}